/* Custom CSS */
body {
  margin-bottom: 300px;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  padding:25px 10px !important;
  background-color: white !important;
}
.navbar-right {
  padding-right: 15px;
}
.content-wrap {
  margin-top: -20px;
}
.employeeDetails, .departmentDetails {
  margin-bottom: 100px;
}
th.headerSortUp {
    background-image: url(../images/small_asc.gif);
    background-color: #3399FF;
    color: white;
}
th.headerSortDown {
    background-image: url(../images/small_desc.gif);
    background-color: #3399FF;
    color: white;
}
th.header {
    background-image: url(../images/small.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}
th.disabled {
  background:none;
  color: inherit;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 10px 17px;
  font-size: 24px;
  line-height: 1.83;
  border-radius: 35px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
img.circle {
  border-radius: 100%;
}
.chip {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 2px 10px 0 -18px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.nav.nav-sidebar {
  margin-bottom: 30px;
}
#sidebar-collapse-btn {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 15px 0px 35px;
    margin-top: -5px;
}

/*css to add back colours for badges and make use of the colours*/
.badge-default {
  background-color: #999999;
}

.badge-primary {
  background-color: #428bca;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-info {
  background-color: #5bc0de;
}

.badge-warning {
  background-color: #f0ad4e;
}

.badge-danger {
  background-color: #d9534f;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
  border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
  border-right-width: 1px;
}